@import "tailwindcss";

:root {
  --background: #F3F5F9;
  --foreground: #F3F5F9;
}

@theme{
    --color-dark-blue: #03042C;
    --color-abu-one: #90909E;
    --color-s-blue: #F3F5F9;
    --color-blue1: #8098F0;
    --color-s2-blue: #E2E8FF;
};

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F5F9;
    --foreground: #F3F5F9;
  }
}

body {
  background: var(--background);
}
